<div class="container">
  <div class="flex-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Dashboard</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Welcome back<span *ngIf="user">, {{user.name}}</span>!</p>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>