@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.container {
  margin: 20px auto;
  padding: 10px;
  max-width: 1200px;
}

.spinner {
  left: 49%;
  position: fixed !important;
  top: 15%;
  z-index: 9999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.login-container {
  height: 80vh;
}

.login-actions {
  margin-left: unset !important;
}

.mat-mdc-list-item,
.mat-mdc-menu-item {
  font-size: 14px !important;
}

.command-wrapper button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.mat-mdc-dialog-title {
  margin: 0 !important;
}

.mat-column-actions {
  flex: 0 0 60px;
}

.mat-mdc-table .mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.mat-mdc-table td.mat-mdc-cell a:hover {
  text-decoration: underline;
}

.mat-mdc-table td.mat-mdc-cell:first-child,
.mat-mdc-table td.mat-mdc-footer-cell:first-child,
.mat-table th.mat-mdc-header-cell:first-child {
  padding-left: 20px !important;
}

.mat-mdc-table td.mat-mdc-cell:last-child,
.mat-mdc-table td.mat-mdc-footer-cell:last-child,
.mat-table th.mat-mdc-header-cell:last-child {
  padding-right: 10px !important;
}

.mat-mdc-table .mat-mdc-cell a {
  color: inherit;
  text-decoration: none;
}

.no-records {
  padding-top: 20px;
  padding-bottom: 20px;
}

.refresh-button {
  margin-top: 8px !important;
}

.no-records .mat-icon {
  width: 130px;
  height: 130px;
  font-size: 130px;
  color: #c7c7c7;
}

p .mat-icon {
  vertical-align: middle;
}

.mat-mdc-slide-toggle.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-mdc-tooltip {
  font-size: 14px;
}

.fixed-fab {
  position: fixed !important;
  right: 2%;
  bottom: 3%;
}

/* Highlight on hover */
.submitted-timesheet-day:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
/* Highlight */
.submitted-timesheet-day>div:not(.mat-calendar-body-selected) {
  border-radius: 999px;
  background-color: rgba(14, 152, 5, 0.25);
}

.table-wrapper {
  overflow: auto;
  height: calc(100vh - 270px);
  max-height: 450px;
  /* padding: 10px 5px; */
}

.animate {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* custom styles */


mat-form-field.ddLargeInput
{
  width: 300px;
  margin: 20px;
}

ul.ddHouseholdItem
{
  padding-inline-start: 0px;
}

li.ddHouseholdItem
{
  width: 300px;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ddHouseholdItem.active
{
  background-color: #a8f000;
}

.household-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.delete-button {
  width: 20px;
  margin-left: auto;
  padding: 10px;
}
button.ddButton_Profile
{
  width: 150px;
  margin: 15px;
}
button.ddButton_Household
{
  width: 150px;
  margin: 15px;
}
div.ddFormButtonGroup
{
  padding: 10px;
  display: flex;
  /* justify-content: space-between; Spread buttons across the line */
  gap: 20px; /* Add spacing between buttons */
  margin-top: 20px; /* Optional: Add some space above the buttons */
}


ul.task-summary
{
  padding-inline-start: 0px;
}

li.task-summary-item
{
  list-style-type: none;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

li.task-summary-item:hover {
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-summary-content {
  width: 100%;
}

.task-summary-item.active
{
  background-color: #e0f7fa;
  border-color: #00acc1;
}

/* Task details section */
.task-details {
  flex: 1;
}

.task-title {
  font-weight: bold;
  font-size: 16px;
  display: block;
}

.task-description {
  font-size: 14px;
  color: #666;
}

/* Task meta section */
.task-meta {
  text-align: right;
  margin-left: 20px;
}

.task-reward {
  font-weight: bold;
  display: block;
}

.task-due-date {
  font-size: 14px;
  color: #666;
}

/* Delete button */
button.delete-button {
  margin-left: 10px;
  color: #f44336;
  transition: transform 0.2s ease;
  margin-left: auto;
}

button.delete-button:hover {
  transform: scale(1.1);
}

/* Add Task button container */
.button-container {
  text-align: right;
  margin-top: 20px;
}

.delete-button-container {
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
  /* margin-top: 20px; Add some spacing above the delete button */
}
